In [34]:
import random
import numpy
import pandas as pd

In [56]:
data = pd.read_csv(r'/Users/emilyknight/Documents/CDM/Data/country-list.csv')
print(data)

                   country              capital            type
0                 Abkhazia              Sukhumi  countryCapital
1              Afghanistan                Kabul  countryCapital
2    Akrotiri and Dhekelia  Episkopi Cantonment  countryCapital
3                  Albania               Tirana  countryCapital
4                  Algeria              Algiers  countryCapital
..                     ...                  ...             ...
243      Wallis and Futuna             Mata-Utu  countryCapital
244         Western Sahara             El Aaiún  countryCapital
245                  Yemen                Sanaá  countryCapital
246                 Zambia               Lusaka  countryCapital
247               Zimbabwe               Harare  countryCapital

[248 rows x 3 columns]

In [58]:
data = data.drop(data.columns[2], axis =1)

In [69]:
sample = data.sample(n=500, replace = True)

In [62]:
sample.nunique()

country    222
capital    219
dtype: int64

In [63]:
d = {'education_level': ["primary", "high school", "bachelor", "master", "phD"]}

In [65]:
education = pd.DataFrame(d)

In [66]:
education_sample = education.sample(n=500, replace = True)

In [68]:
education_sample.head()

  education_level
3          master
3          master
0         primary
0         primary
3          master